<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map keyboard</title>
</head>
<body>
    <h1>Test</h1>
    <button id="send-data"><a href="/send-data-on">On</a></button>
    <button id="send-data-2"><a href="/send-data-off">Off</a></button>

    <script src="keybind.js" type="text/javascript"></script>
</body>
</html>